body {
  padding-top: 150px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 2;
  height: 150px;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
    font-family: 'Questa-Grande';
  color: #633b3b;
  
}

header h1 {
  width: 100px;
  height: 100px;
  margin: 25px auto;
  border-radius: 100px;
  overflow: hidden;
  font-family: 'Questa-Grande';
  color: #633b3b;
}

header h1 img {
  width: 100%;
  height: auto;
}

header p{
  display: inline-block;
  padding: 0 10px;
  font-family: 'Questa-Grande';
  color: #633b3b;
}

header #nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
}

.boxed {
  background: #ede8d8;
  padding: 15px;
  color: rgb(235, 232, 225);
  foreground: #33312e;
  border-radius: 25px;
  text-decoration: none;
}
