<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.title }}</title>
    <style>
      /* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */
      @import "/css/main.css" screen;
      @import "/css/hover.css" screen;
      @import "/css/beta.css" screen;

      {% for item in site.colors %}
      .{{ item.name }} {
        background: rgb({{item.R}}, {{item.G}}, {{ item.B}});
      }
      {% endfor %}
    </style>
  </head>
  <body>
    <ol id="portfolio">
      {% for item in site.portfolio %}
      <li class="{% cycle "first": "full-row", "", "" %} {{ item.color }}">
        <div>
          <p>{{ item.description }}</p>
          <img src="/images/{{ item.image }}" alt="{{ item.description }}">
        </div>
      </li>
      {% endfor %}
    </ol>
    <footer>
      <h1><img src="/images/logo.png" alt="{{ site.title }}"></h1>
    </footer>
  </body>
</html>
